In [1]:
from bs4 import BeautifulSoup
from scrape import extract
from scrape import extract_players
from scrape import extract_year
from scrape import make_dists
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd

In [2]:
df = extract_players("2022")
df.head()

,Name,RECEIVING_REC,RECEIVING_TGT,RECEIVING_YDS,RECEIVING_Y/R,RECEIVING_LG,RECEIVING_20+,RECEIVING_TD,RUSHING_ATT,RUSHING_YDS,RUSHING_TD,MISC_FL,MISC_G,MISC_FPTS,MISC_FPTS/G,MISC_ROST
Rank,,,,,,,,,,,,,,,,
1,justin-jefferson,128,184,1809,14.1,64,49,8,4,24,1,0,17,368.6,21.7,100.0%
2,tyreek-hill,119,170,1710,14.4,64,45,7,7,32,1,0,17,341.2,20.1,100.0%
3,davante-adams,100,180,1516,15.2,60,47,14,3,-1,0,0,17,335.5,19.7,99.9%
4,stefon-diggs,110,156,1455,13.2,53,35,11,1,-3,0,0,17,321.2,18.9,99.9%
5,ceedee-lamb,107,156,1359,12.7,39,30,9,10,47,0,0,17,301.6,17.7,99.9%

In [3]:
result = df[["Name", "MISC_FPTS/G"]]
result.head(11)

                  Name  MISC_FPTS/G
Rank
1     justin-jefferson         21.7
2          tyreek-hill         20.1
3        davante-adams         19.7
4         stefon-diggs         18.9
5          ceedee-lamb         17.7
6             aj-brown         17.6
7       amonra-stbrown         16.7
8        jaylen-waddle         15.2
9        devonta-smith         15.0
10        amari-cooper         14.5
11        jamarr-chase         18.6

In [5]:
names = list(df["Name"].head(100))
dists = make_dists(names, "2022")
dists.head(20)

,name,avg_rec,var_rec,avg_tgt,var_tgt,avg_yds,var_yds,avg_ypr,var_ypr,avg_lg,var_lg,avg_TD,var_TD,avg_rush,var_rush,avg_ryds,var_ryds,avg_rTD,var_rTD
0,justin-jefferson,14.222222,27.787998,20.444444,39.845845,201.000000,394.765894,13.527778,4.513659,32.111111,17.460714,0.888889,1.822358,0.444444,1.012270,2.666667,6.137318,0.111111,0.31427
1,tyreek-hill,13.222222,25.833990,18.888889,36.816193,190.000000,372.409721,14.566667,4.646743,35.500000,17.484120,0.777778,1.617802,0.777778,1.617802,3.555556,7.747560,0.111111,0.31427
2,davante-adams,11.111111,21.740615,20.000000,38.940125,168.444444,331.002723,14.777778,8.635171,31.166667,17.680026,1.555556,3.130890,0.333333,0.745356,-0.111111,1.369870,0.000000,0.00000
3,stefon-diggs,12.222222,23.889922,17.333333,33.867388,161.666667,315.834169,13.427778,2.323026,33.555556,13.030828,1.222222,2.484520,0.111111,0.314270,-0.333333,0.942809,0.000000,0.00000
4,ceedee-lamb,11.888889,23.184978,17.333333,33.745782,151.000000,294.678733,12.927778,3.189707,25.944444,7.940558,1.000000,2.054805,1.111111,2.282515,5.222222,11.792444,0.000000,0.00000
5,aj-brown,9.777778,19.083313,16.111111,31.377432,166.222222,325.377995,16.416667,4.818627,38.777778,19.543557,1.222222,2.506781,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
6,amonra-stbrown,12.470588,23.504987,17.176471,32.333256,136.588235,258.047889,10.582353,2.945832,24.294118,11.589877,0.705882,1.485804,1.058824,2.071390,11.176471,26.201112,0.000000,0.00000
7,jaylen-waddle,8.333333,16.323126,13.000000,25.458026,150.666667,295.347065,18.227778,7.109212,37.222222,22.594384,0.888889,1.852592,0.333333,0.745356,2.888889,6.462618,0.000000,0.00000
8,devonta-smith,10.555556,20.618822,15.111111,29.457859,132.888889,261.329696,11.711111,5.917759,23.888889,12.999525,0.777778,1.617802,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
9,amari-cooper,8.666667,16.960739,14.666667,28.641462,128.888889,252.307768,15.788889,7.381651,28.777778,15.526163,1.000000,2.054805,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
10,jamarr-chase,12.428571,20.824828,19.142857,32.084391,149.428571,251.580920,11.300000,5.149619,27.142857,17.365224,1.285714,2.249717,0.714286,1.332483,1.142857,2.695423,0.000000,0.00000
11,christian-kirk,9.333333,18.230012,14.777778,28.781853,123.111111,241.047227,13.350000,5.220818,27.333333,12.525529,0.888889,1.852592,0.555556,1.165343,1.222222,3.206860,0.000000,0.00000
12,tyler-lockett,9.882353,18.666996,13.764706,25.937775,121.529412,229.836801,12.494118,4.207342,26.058824,10.078927,1.058824,2.071390,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
13,terry-mclaurin,8.555556,16.694052,13.333333,25.959370,132.333333,258.332258,15.800000,4.915734,32.777778,13.644517,0.555556,1.165343,0.777778,1.617802,3.222222,7.612530,0.000000,0.00000
14,brandon-aiyuk,8.666667,16.937795,12.666667,24.729649,112.777778,219.966299,13.844444,4.667050,26.222222,11.380078,0.888889,1.852592,0.222222,0.532870,2.555556,6.308920,0.000000,0.00000
15,dk-metcalf,10.000000,19.556187,15.666667,30.519575,116.444444,228.764610,11.594444,4.482865,24.166667,15.348724,0.666667,1.374369,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
16,mike-evans,9.625000,17.524536,15.875000,28.844139,140.500000,257.517718,14.443750,4.119310,31.250000,15.421171,0.750000,1.600781,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
17,tee-higgins,9.375000,17.105829,13.750000,25.011247,130.250000,239.112029,13.362500,3.973329,27.687500,16.162142,0.875000,1.653595,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
18,chris-godwin,13.000000,23.571699,17.750000,32.189866,127.875000,232.302033,10.006250,2.618079,21.875000,10.439558,0.375000,0.780625,0.375000,0.780625,0.625000,1.316957,0.000000,0.00000
19,michael-pittman,11.647059,22.010535,16.588235,31.256169,108.823529,206.268596,9.300000,1.959292,19.294118,5.788068,0.470588,0.977250,0.352941,0.836039,3.529412,9.665692,0.000000,0.00000

In [33]:
# Convert DataFrame to matrix
mat = dists.values
names = mat[:,0]
mat = np.delete(mat, 0, 1)  # delete name column of mat
# Using sklearn
km = KMeans(n_clusters=4)
km.fit(mat)
# Get cluster assignment labels
labels = km.labels_
# Format results as a DataFrame
results = pd.DataFrame([names,labels], index=["name", "class"]).T

c:\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [34]:
results[results["class"] == 3]

                       name class
23              dj-moore-wr     3
25                zay-jones     3
27          diontae-johnson     3
28            jakobi-meyers     3
29             adam-thielen     3
30             drake-london     3
32            curtis-samuel     3
33               tyler-boyd     3
34             allen-lazard     3
35            gabriel-davis     3
36              josh-palmer     3
37             deebo-samuel     3
38    donovan-peoples-jones     3
39           george-pickens     3
40         christian-watson     3
42         courtland-sutton     3
43           marquise-brown     3
44                kj-osborn     3
45             mack-hollins     3
48            brandin-cooks     3
51           darius-slayton     3
53  marquez-valdesscantling     3

In [35]:
results[results['class'] == 2]

               name class
0  justin-jefferson     2
1       tyreek-hill     2
2     davante-adams     2
3      stefon-diggs     2
4       ceedee-lamb     2
5          aj-brown     2
7     jaylen-waddle     2

In [36]:
results[results["class"] == 1]

                   name class
6        amonra-stbrown     1
8         devonta-smith     1
9          amari-cooper     1
10         jamarr-chase     1
11       christian-kirk     1
12        tyler-lockett     1
13       terry-mclaurin     1
14        brandon-aiyuk     1
15           dk-metcalf     1
16           mike-evans     1
17          tee-higgins     1
18         chris-godwin     1
19      michael-pittman     1
20       garrett-wilson     1
21          jerry-jeudy     1
22          cooper-kupp     1
24          chris-olave     1
26  juju-smith-schuster     1
31     mike-williams-wr     1
41         keenan-allen     1
46      deandre-hopkins     1

In [37]:
results[results["class"] == 0]

                    name class
47       parris-campbell     0
49          richie-james     0
50          jahan-dotson     0
52          russell-gage     0
54       isaiah-mckenzie     0
55          marvin-jones     0
56         kalif-raymond     0
57        devin-duvernay     0
58          robert-woods     0
59           chris-moore     0
60            noah-brown     0
61           greg-dortch     0
62        deandre-carter     0
63           alec-pierce     0
64     olamide-zaccheaus     0
65        michael-gallup     0
66        chase-claypool     0
67         josh-reynolds     0
68     demarcus-robinson     0
69        devante-parker     0
70           romeo-doubs     0
71        darnell-mooney     0
72        rashid-shaheed     0
73        isaiah-hodgins     0
74              dj-chark     0
75           corey-davis     0
76          nico-collins     0
77        mecole-hardman     0
78      marquise-goodwin     0
79       kendrick-bourne     0
80          elijah-moore     0
81         treylon-burks     0
82         rondale-moore     0
83        allen-robinson     0
84          quez-watkins     0
85         ben-skowronek     0
86       trent-sherfield     0
87      terrace-marshall     0
88        nick-westbrook     0
89        jauan-jennings     0
90          randall-cobb     0
91        hunter-renfrow     0
92         van-jefferson     0
93        nelson-agholor     0
94      laviska-shenault     0
95           jamal-agnew     0
96           julio-jones     0
97       tyquan-thornton     0
98          dante-pettis     0
99  equanimeous-st-brown     0

2021 Data

In [38]:
df2021 = extract_players("2021")
df2021.head()

,Name,RECEIVING_REC,RECEIVING_TGT,RECEIVING_YDS,RECEIVING_Y/R,RECEIVING_LG,RECEIVING_20+,RECEIVING_TD,RUSHING_ATT,RUSHING_YDS,RUSHING_TD,MISC_FL,MISC_G,MISC_FPTS,MISC_FPTS/G,MISC_ROST
Rank,,,,,,,,,,,,,,,,
1,cooper-kupp,145,191,1947,13.4,59,57,16,4,18,0,0,17,439.5,25.9,99.9%
2,davante-adams,123,169,1553,12.6,59,37,11,0,0,0,0,16,344.3,21.5,99.9%
3,deebo-samuel,77,121,1405,18.2,83,53,6,59,365,8,2,16,339.0,21.2,98.7%
4,justin-jefferson,108,167,1616,15.0,56,45,10,6,14,0,1,17,330.4,19.4,100.0%
5,jamarr-chase,81,128,1455,18.0,82,49,13,7,21,0,1,17,304.6,17.9,99.9%

In [16]:
names2021 = list(df2021["Name"].head(100))
dists2021 = make_dists(names2021, "2021")
dists2021.head(20)

,name,avg_rec,var_rec,avg_tgt,var_tgt,avg_yds,var_yds,avg_ypr,var_ypr,avg_lg,var_lg,avg_TD,var_TD,avg_rush,var_rush,avg_ryds,var_ryds,avg_rTD,var_rTD
0,cooper-kupp,16.111111,31.320722,21.222222,41.231805,216.333333,420.389898,13.755556,2.629580,38.555556,12.698304,1.777778,3.536407,0.444444,0.955814,2.000000,5.859465,0.000000,0.000000
1,davante-adams,14.470588,27.226971,19.882353,37.447818,182.705882,344.941387,12.600000,3.720215,33.705882,13.389042,1.294118,2.538288,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,deebo-samuel,9.058824,17.165186,14.235294,26.899660,165.294118,314.331179,17.952941,4.503217,42.941176,23.405556,0.705882,1.445671,6.941176,13.361360,42.941176,83.885405,0.941176,1.862023
3,justin-jefferson,12.000000,23.390406,18.555556,36.117435,179.555556,350.721355,15.072222,4.126312,32.777778,13.074808,1.111111,2.233306,0.666667,1.374369,1.555556,4.387130,0.000000,0.000000
4,jamarr-chase,9.000000,17.619434,14.222222,27.737971,161.666667,320.295523,16.483333,6.738385,38.500000,24.171264,1.444444,2.929206,0.777778,1.651785,2.333333,5.416026,0.000000,0.000000
5,tyreek-hill,12.333333,24.175286,17.666667,34.544657,137.666667,272.439392,10.311111,4.212269,26.388889,20.434554,1.000000,2.108185,1.000000,2.000000,10.666667,22.597935,0.000000,0.000000
6,stefon-diggs,11.444444,22.291558,18.222222,35.458200,136.111111,265.821763,12.677778,6.261927,27.777778,16.507761,1.111111,2.233306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,diontae-johnson,12.588235,23.676891,19.882353,37.430535,136.588235,257.252007,11.994118,6.765003,29.705882,13.580976,0.941176,1.862023,0.588235,1.239489,6.235294,13.379217,0.000000,0.000000
8,mike-evans,8.705882,16.452301,13.411765,25.316953,121.764706,230.300195,14.611765,5.645704,28.529412,11.366192,1.647059,3.216523,0.117647,0.322190,1.176471,3.221897,0.000000,0.000000
9,hunter-renfrow,11.444444,22.333886,14.222222,27.709917,115.333333,225.825154,10.116667,3.164253,22.833333,12.266712,1.000000,2.027588,0.333333,0.745356,0.333333,1.699673,0.000000,0.000000
10,keenan-allen,12.470588,23.472431,18.470588,34.707378,133.882353,252.416062,11.135294,4.608808,23.882353,10.878378,0.705882,1.445671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,mike-williams-wr,8.941176,16.930552,15.176471,28.701784,134.823529,256.028545,15.270588,5.481173,35.411765,19.278329,1.058824,2.099596,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,jaylen-waddle,12.235294,23.117423,16.470588,30.995479,119.411765,225.570403,10.582353,3.578898,25.117647,15.064108,0.705882,1.445671,0.235294,0.545507,0.352941,0.836039,0.117647,0.322190
13,dk-metcalf,8.333333,16.241237,14.333333,27.900617,107.444444,209.812144,14.383333,9.032488,29.222222,20.921960,1.333333,2.728451,0.111111,0.314270,0.666667,1.885618,0.000000,0.000000
14,chris-godwin,13.066667,22.874926,16.933333,29.659100,147.066667,257.700722,11.480000,3.401607,25.266667,9.976417,0.666667,1.247219,0.533333,1.024153,2.800000,5.576140,0.133333,0.339935
15,tyler-lockett,8.588235,16.288064,12.588235,23.761211,138.235294,263.752676,15.994118,8.315434,34.823529,20.414053,0.941176,1.893350,0.235294,0.545507,1.058824,2.600240,0.000000,0.000000
16,michael-pittman,9.777778,19.100772,14.333333,28.001984,120.222222,234.957101,12.561111,4.255864,26.111111,14.352270,0.666667,1.414214,0.555556,1.212079,4.888889,12.105503,0.000000,0.000000
17,dj-moore-wr,10.333333,20.108042,18.111111,35.194521,128.555556,250.983006,12.394444,4.139843,25.500000,15.107945,0.444444,1.012270,0.888889,1.822358,5.333333,11.647603,0.000000,0.000000
18,ceedee-lamb,9.294118,17.562543,14.117647,26.694089,129.647059,245.554580,14.194118,5.195526,28.705882,12.294258,0.705882,1.485804,1.058824,2.071390,8.941176,18.894352,0.000000,0.000000
19,brandin-cooks,10.588235,19.979574,15.764706,29.752962,122.000000,231.230468,11.488235,4.592178,26.705882,13.880857,0.705882,1.445671,0.235294,0.545507,2.470588,6.030488,0.000000,0.000000

In [39]:
# Convert DataFrame to matrix
mat2021 = dists2021.values
names2021 = mat2021[:,0]
mat2021 = np.delete(mat2021, 0, 1)  # delete name column of mat
# Using sklearn
km2021 = KMeans(n_clusters=4)
km2021.fit(mat2021)
# Get cluster assignment labels
labels2021 = km.labels_
# Format results as a DataFrame
results2021 = pd.DataFrame([names2021,labels2021], index=["name", "class"]).T

c:\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [40]:
results2021[results2021["class"] == 3]

                name class
23       tee-higgins     3
25    christian-kirk     3
27      adam-thielen     3
28     jakobi-meyers     3
29     devonta-smith     3
30        tyler-boyd     3
32   kendrick-bourne     3
33      marvin-jones     3
34     brandon-aiyuk     3
35     van-jefferson     3
36    chase-claypool     3
37      russell-gage     3
38      cole-beasley     3
39         kj-osborn     3
40          aj-green     3
42  marquez-callaway     3
43  courtland-sutton     3
44    cedrick-wilson     3
45   deandre-hopkins     3
48    robby-anderson     3
51     jarvis-landry     3
53  emmanuel-sanders     3

In [41]:
results2021[results2021["class"] == 2]

               name class
0       cooper-kupp     2
1     davante-adams     2
2      deebo-samuel     2
3  justin-jefferson     2
4      jamarr-chase     2
5       tyreek-hill     2
7   diontae-johnson     2

In [42]:
results2021[results2021["class"] == 1]

                name class
6       stefon-diggs     1
8         mike-evans     1
9     hunter-renfrow     1
10      keenan-allen     1
11  mike-williams-wr     1
12     jaylen-waddle     1
13        dk-metcalf     1
14      chris-godwin     1
15     tyler-lockett     1
16   michael-pittman     1
17       dj-moore-wr     1
18       ceedee-lamb     1
19     brandin-cooks     1
20    amonra-stbrown     1
21    marquise-brown     1
22    darnell-mooney     1
24    terry-mclaurin     1
26      amari-cooper     1
31          aj-brown     1
41       tim-patrick     1
46      allen-lazard     1

In [43]:
results2021[results2021["class"] == 0]

                       name class
47           mecole-hardman     0
49             elijah-moore     0
50             robert-woods     0
52            kalif-raymond     0
54            odell-beckham     0
55         laviska-shenault     0
56            byron-pringle     0
57            gabriel-davis     0
58            antonio-brown     0
59          braxton-berrios     0
60             quez-watkins     0
61             deonte-harty     0
62    donovan-peoples-jones     0
63          jamison-crowder     0
64            bryan-edwards     0
65            rondale-moore     0
66           nick-westbrook     0
67                zay-jones     0
68              corey-davis     0
69           devante-parker     0
70           rashod-bateman     0
71           nelson-agholor     0
72             jalen-guyton     0
73              zach-pascal     0
74             randall-cobb     0
75              josh-palmer     0
76           michael-gallup     0
77        olamide-zaccheaus     0
78           kenny-golladay     0
79            trequan-smith     0
80  marquez-valdesscantling     0
81           allen-robinson     0
82           deandre-carter     0
83            freddie-swain     0
84              jerry-jeudy     0
85              henry-ruggs     0
86             nico-collins     0
87         laquon-treadwell     0
88           kadarius-toney     0
89           jauan-jennings     0
90            josh-reynolds     0
91              julio-jones     0
92           adam-humphries     0
93              keelan-cole     0
94             jalen-reagor     0
95         sterling-shepard     0
96           devin-duvernay     0
97              jamal-agnew     0
98           desean-jackson     0
99                ty-hilton     0