In [1]:
from bs4 import BeautifulSoup
from scrape import extract
from scrape import extract_players
from scrape import extract_year
from scrape import make_dists
from scrape import extract_age
from scrape import run_knn
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd
import re

In [2]:
df2022 = extract_players("2022", "wr", "PPR")

In [3]:
names2022 = list(df2022["Name"].head(100))
dists2022 = make_dists(names2022, "2022")
dists2022.head(20)

justin-jefferson
tyreek-hill
davante-adams
stefon-diggs
ceedee-lamb
aj-brown
amonra-stbrown
jaylen-waddle
devonta-smith
amari-cooper
jamarr-chase
christian-kirk
tyler-lockett
terry-mclaurin
brandon-aiyuk
dk-metcalf
mike-evans
tee-higgins
chris-godwin
michael-pittman
garrett-wilson
jerry-jeudy
cooper-kupp
dj-moore
chris-olave
zay-jones
juju-smith-schuster
diontae-johnson
jakobi-meyers
adam-thielen
drake-london
mike-williams
curtis-samuel
tyler-boyd
allen-lazard
gabriel-davis
josh-palmer
deebo-samuel
donovan-peoples-jones
george-pickens
christian-watson
keenan-allen
courtland-sutton
marquise-brown
kj-osborn
mack-hollins
deandre-hopkins
parris-campbell
brandin-cooks
richie-james
jahan-dotson
darius-slayton
russell-gage
marquez-valdesscantling
isaiah-mckenzie
marvin-jones
kalif-raymond
devin-duvernay
robert-woods
chris-moore
noah-brown
greg-dortch
deandre-carter
alec-pierce
olamide-zaccheaus
michael-gallup
chase-claypool
josh-reynolds
demarcus-robinson
devante-parker
romeo-doubs
darnell-mooney
rashid-shaheed
isaiah-hodgins
dj-chark
corey-davis
nico-collins
mecole-hardman
marquise-goodwin
kendrick-bourne
elijah-moore
treylon-burks
rondale-moore
allen-robinson
quez-watkins
ben-skowronek
trent-sherfield
terrace-marshall
nick-westbrook
jauan-jennings
randall-cobb
hunter-renfrow
van-jefferson
nelson-agholor
laviska-shenault
jamal-agnew
julio-jones
tyquan-thornton
dante-pettis
equanimeous-st-brown

,name,age,avg_rec,var_rec,avg_tgt,var_tgt,avg_yds,var_yds,avg_ypr,var_ypr,avg_lg,var_lg,avg_TD,var_TD,avg_rush,var_rush,avg_ryds,var_ryds,avg_rTD,var_rTD
0,justin-jefferson,23,14.222222,27.787998,20.444444,39.845845,201.000000,394.765894,13.527778,4.513659,32.111111,17.460714,0.888889,1.822358,0.444444,1.012270,2.666667,6.137318,0.111111,0.31427
1,tyreek-hill,28,13.222222,25.833990,18.888889,36.816193,190.000000,372.409721,14.566667,4.646743,35.500000,17.484120,0.777778,1.617802,0.777778,1.617802,3.555556,7.747560,0.111111,0.31427
2,davante-adams,29,11.111111,21.740615,20.000000,38.940125,168.444444,331.002723,14.777778,8.635171,31.166667,17.680026,1.555556,3.130890,0.333333,0.745356,-0.111111,1.369870,0.000000,0.00000
3,stefon-diggs,28,12.222222,23.889922,17.333333,33.867388,161.666667,315.834169,13.427778,2.323026,33.555556,13.030828,1.222222,2.484520,0.111111,0.314270,-0.333333,0.942809,0.000000,0.00000
4,ceedee-lamb,23,11.888889,23.184978,17.333333,33.745782,151.000000,294.678733,12.927778,3.189707,25.944444,7.940558,1.000000,2.054805,1.111111,2.282515,5.222222,11.792444,0.000000,0.00000
5,aj-brown,25,9.777778,19.083313,16.111111,31.377432,166.222222,325.377995,16.416667,4.818627,38.777778,19.543557,1.222222,2.506781,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
6,amonra-stbrown,22,12.470588,23.504987,17.176471,32.333256,136.588235,258.047889,10.582353,2.945832,24.294118,11.589877,0.705882,1.485804,1.058824,2.071390,11.176471,26.201112,0.000000,0.00000
7,jaylen-waddle,23,8.333333,16.323126,13.000000,25.458026,150.666667,295.347065,18.227778,7.109212,37.222222,22.594384,0.888889,1.852592,0.333333,0.745356,2.888889,6.462618,0.000000,0.00000
8,devonta-smith,23,10.555556,20.618822,15.111111,29.457859,132.888889,261.329696,11.711111,5.917759,23.888889,12.999525,0.777778,1.617802,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
9,amari-cooper,28,8.666667,16.960739,14.666667,28.641462,128.888889,252.307768,15.788889,7.381651,28.777778,15.526163,1.000000,2.054805,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
10,jamarr-chase,22,12.428571,20.824828,19.142857,32.084391,149.428571,251.580920,11.300000,5.149619,27.142857,17.365224,1.285714,2.249717,0.714286,1.332483,1.142857,2.695423,0.000000,0.00000
11,christian-kirk,25,9.333333,18.230012,14.777778,28.781853,123.111111,241.047227,13.350000,5.220818,27.333333,12.525529,0.888889,1.852592,0.555556,1.165343,1.222222,3.206860,0.000000,0.00000
12,tyler-lockett,29,9.882353,18.666996,13.764706,25.937775,121.529412,229.836801,12.494118,4.207342,26.058824,10.078927,1.058824,2.071390,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
13,terry-mclaurin,26,8.555556,16.694052,13.333333,25.959370,132.333333,258.332258,15.800000,4.915734,32.777778,13.644517,0.555556,1.165343,0.777778,1.617802,3.222222,7.612530,0.000000,0.00000
14,brandon-aiyuk,24,8.666667,16.937795,12.666667,24.729649,112.777778,219.966299,13.844444,4.667050,26.222222,11.380078,0.888889,1.852592,0.222222,0.532870,2.555556,6.308920,0.000000,0.00000
15,dk-metcalf,24,10.000000,19.556187,15.666667,30.519575,116.444444,228.764610,11.594444,4.482865,24.166667,15.348724,0.666667,1.374369,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
16,mike-evans,28,9.625000,17.524536,15.875000,28.844139,140.500000,257.517718,14.443750,4.119310,31.250000,15.421171,0.750000,1.600781,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
17,tee-higgins,23,9.375000,17.105829,13.750000,25.011247,130.250000,239.112029,13.362500,3.973329,27.687500,16.162142,0.875000,1.653595,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
18,chris-godwin,26,13.000000,23.571699,17.750000,32.189866,127.875000,232.302033,10.006250,2.618079,21.875000,10.439558,0.375000,0.780625,0.375000,0.780625,0.625000,1.316957,0.000000,0.00000
19,michael-pittman,24,11.647059,22.010535,16.588235,31.256169,108.823529,206.268596,9.300000,1.959292,19.294118,5.788068,0.470588,0.977250,0.352941,0.836039,3.529412,9.665692,0.000000,0.00000

In [29]:
results2022 = run_knn(dists2022, 5)

TypeError: run_knn() takes 1 positional argument but 2 were given

In [ ]:
results2022[results2022["class"] == 4]

In [5]:
results2022[results2022["class"] == 3]

                name class
39    george-pickens     3
40  christian-watson     3
54   isaiah-mckenzie     3
57    devin-duvernay     3
72    rashid-shaheed     3
77    mecole-hardman     3
94  laviska-shenault     3
95       jamal-agnew     3
97   tyquan-thornton     3

In [6]:
results2022[results2022['class'] == 2]

             name class
32  curtis-samuel     2
37   deebo-samuel     2

In [7]:
results2022[results2022["class"] == 1]

                   name class
0      justin-jefferson     1
1           tyreek-hill     1
2         davante-adams     1
3          stefon-diggs     1
4           ceedee-lamb     1
5              aj-brown     1
6        amonra-stbrown     1
7         jaylen-waddle     1
8         devonta-smith     1
9          amari-cooper     1
10         jamarr-chase     1
11       christian-kirk     1
12        tyler-lockett     1
13       terry-mclaurin     1
14        brandon-aiyuk     1
15           dk-metcalf     1
16           mike-evans     1
17          tee-higgins     1
18         chris-godwin     1
19      michael-pittman     1
20       garrett-wilson     1
21          jerry-jeudy     1
22          cooper-kupp     1
23          dj-moore-wr     1
24          chris-olave     1
25            zay-jones     1
26  juju-smith-schuster     1
27      diontae-johnson     1
28        jakobi-meyers     1
30         drake-london     1
31     mike-williams-wr     1
34         allen-lazard     1
35        gabriel-davis     1
41         keenan-allen     1
43       marquise-brown     1
46      deandre-hopkins     1
48        brandin-cooks     1

In [8]:
results2022[results2022["class"] == 0]

                       name class
29             adam-thielen     0
33               tyler-boyd     0
36              josh-palmer     0
38    donovan-peoples-jones     0
42         courtland-sutton     0
44                kj-osborn     0
45             mack-hollins     0
47          parris-campbell     0
49             richie-james     0
50             jahan-dotson     0
51           darius-slayton     0
52             russell-gage     0
53  marquez-valdesscantling     0
55             marvin-jones     0
56            kalif-raymond     0
58             robert-woods     0
59              chris-moore     0
60               noah-brown     0
61              greg-dortch     0
62           deandre-carter     0
63              alec-pierce     0
64        olamide-zaccheaus     0
65           michael-gallup     0
66           chase-claypool     0
67            josh-reynolds     0
68        demarcus-robinson     0
69           devante-parker     0
70              romeo-doubs     0
71           darnell-mooney     0
73           isaiah-hodgins     0
74                 dj-chark     0
75              corey-davis     0
76             nico-collins     0
78         marquise-goodwin     0
79          kendrick-bourne     0
80             elijah-moore     0
81            treylon-burks     0
82            rondale-moore     0
83           allen-robinson     0
84             quez-watkins     0
85            ben-skowronek     0
86          trent-sherfield     0
87         terrace-marshall     0
88           nick-westbrook     0
89           jauan-jennings     0
90             randall-cobb     0
91           hunter-renfrow     0
92            van-jefferson     0
93           nelson-agholor     0
96              julio-jones     0
98             dante-pettis     0
99     equanimeous-st-brown     0

2021 Data

In [9]:
df2021 = extract_players("2021", "wr", "PPR")
df2021.head()

,Name,RECEIVING_REC,RECEIVING_TGT,RECEIVING_YDS,RECEIVING_Y/R,RECEIVING_LG,RECEIVING_20+,RECEIVING_TD,RUSHING_ATT,RUSHING_YDS,RUSHING_TD,MISC_FL,MISC_G,MISC_FPTS,MISC_FPTS/G,MISC_ROST
Rank,,,,,,,,,,,,,,,,
1,cooper-kupp,145,191,1947,13.4,59,57,16,4,18,0,0,17,439.5,25.9,99.9%
2,davante-adams,123,169,1553,12.6,59,37,11,0,0,0,0,16,344.3,21.5,99.9%
3,deebo-samuel,77,121,1405,18.2,83,53,6,59,365,8,2,16,339.0,21.2,98.7%
4,justin-jefferson,108,167,1616,15.0,56,45,10,6,14,0,1,17,330.4,19.4,100.0%
5,jamarr-chase,81,128,1455,18.0,82,49,13,7,21,0,1,17,304.6,17.9,99.9%

In [10]:
names2021 = list(df2021["Name"].head(100))
dists2021 = make_dists(names2021, "2021")
dists2021.head(20)

cooper-kupp
davante-adams
deebo-samuel
justin-jefferson
jamarr-chase
tyreek-hill
stefon-diggs
diontae-johnson
mike-evans
hunter-renfrow
keenan-allen
mike-williams
jaylen-waddle
dk-metcalf
chris-godwin
tyler-lockett
michael-pittman
dj-moore
ceedee-lamb
brandin-cooks
amonra-stbrown
marquise-brown
darnell-mooney
tee-higgins
terry-mclaurin
christian-kirk
amari-cooper
adam-thielen
jakobi-meyers
devonta-smith
tyler-boyd
aj-brown
kendrick-bourne
marvin-jones
brandon-aiyuk
van-jefferson
chase-claypool
russell-gage
cole-beasley
kj-osborn
aj-green
tim-patrick
marquez-callaway
courtland-sutton
cedrick-wilson
deandre-hopkins
allen-lazard
mecole-hardman
robby-anderson
elijah-moore
robert-woods
jarvis-landry
kalif-raymond
emmanuel-sanders
odell-beckham
laviska-shenault
byron-pringle
gabriel-davis
antonio-brown
braxton-berrios
quez-watkins
deonte-harty
donovan-peoples-jones
jamison-crowder
bryan-edwards
rondale-moore
nick-westbrook
zay-jones
corey-davis
devante-parker
rashod-bateman
nelson-agholor
jalen-guyton
zach-pascal
randall-cobb
josh-palmer
michael-gallup
olamide-zaccheaus
kenny-golladay
trequan-smith
marquez-valdesscantling
allen-robinson
deandre-carter
freddie-swain
jerry-jeudy
henry-ruggs
nico-collins
laquon-treadwell
kadarius-toney
jauan-jennings
josh-reynolds
julio-jones
adam-humphries
keelan-cole
jalen-reagor
sterling-shepard
devin-duvernay
jamal-agnew
desean-jackson
ty-hilton

,name,age,avg_rec,var_rec,avg_tgt,var_tgt,avg_yds,var_yds,avg_ypr,var_ypr,avg_lg,var_lg,avg_TD,var_TD,avg_rush,var_rush,avg_ryds,var_ryds,avg_rTD,var_rTD
0,cooper-kupp,28,16.111111,31.320722,21.222222,41.231805,216.333333,420.389898,13.755556,2.629580,38.555556,12.698304,1.777778,3.536407,0.444444,0.955814,2.000000,5.859465,0.000000,0.000000
1,davante-adams,28,14.470588,27.226971,19.882353,37.447818,182.705882,344.941387,12.600000,3.720215,33.705882,13.389042,1.294118,2.538288,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,deebo-samuel,25,9.058824,17.165186,14.235294,26.899660,165.294118,314.331179,17.952941,4.503217,42.941176,23.405556,0.705882,1.445671,6.941176,13.361360,42.941176,83.885405,0.941176,1.862023
3,justin-jefferson,22,12.000000,23.390406,18.555556,36.117435,179.555556,350.721355,15.072222,4.126312,32.777778,13.074808,1.111111,2.233306,0.666667,1.374369,1.555556,4.387130,0.000000,0.000000
4,jamarr-chase,21,9.000000,17.619434,14.222222,27.737971,161.666667,320.295523,16.483333,6.738385,38.500000,24.171264,1.444444,2.929206,0.777778,1.651785,2.333333,5.416026,0.000000,0.000000
5,tyreek-hill,27,12.333333,24.175286,17.666667,34.544657,137.666667,272.439392,10.311111,4.212269,26.388889,20.434554,1.000000,2.108185,1.000000,2.000000,10.666667,22.597935,0.000000,0.000000
6,stefon-diggs,27,11.444444,22.291558,18.222222,35.458200,136.111111,265.821763,12.677778,6.261927,27.777778,16.507761,1.111111,2.233306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,diontae-johnson,25,12.588235,23.676891,19.882353,37.430535,136.588235,257.252007,11.994118,6.765003,29.705882,13.580976,0.941176,1.862023,0.588235,1.239489,6.235294,13.379217,0.000000,0.000000
8,mike-evans,27,8.705882,16.452301,13.411765,25.316953,121.764706,230.300195,14.611765,5.645704,28.529412,11.366192,1.647059,3.216523,0.117647,0.322190,1.176471,3.221897,0.000000,0.000000
9,hunter-renfrow,25,11.444444,22.333886,14.222222,27.709917,115.333333,225.825154,10.116667,3.164253,22.833333,12.266712,1.000000,2.027588,0.333333,0.745356,0.333333,1.699673,0.000000,0.000000
10,keenan-allen,29,12.470588,23.472431,18.470588,34.707378,133.882353,252.416062,11.135294,4.608808,23.882353,10.878378,0.705882,1.445671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,mike-williams-wr,26,8.941176,16.930552,15.176471,28.701784,134.823529,256.028545,15.270588,5.481173,35.411765,19.278329,1.058824,2.099596,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,jaylen-waddle,22,12.235294,23.117423,16.470588,30.995479,119.411765,225.570403,10.582353,3.578898,25.117647,15.064108,0.705882,1.445671,0.235294,0.545507,0.352941,0.836039,0.117647,0.322190
13,dk-metcalf,23,8.333333,16.241237,14.333333,27.900617,107.444444,209.812144,14.383333,9.032488,29.222222,20.921960,1.333333,2.728451,0.111111,0.314270,0.666667,1.885618,0.000000,0.000000
14,chris-godwin,25,13.066667,22.874926,16.933333,29.659100,147.066667,257.700722,11.480000,3.401607,25.266667,9.976417,0.666667,1.247219,0.533333,1.024153,2.800000,5.576140,0.133333,0.339935
15,tyler-lockett,28,8.588235,16.288064,12.588235,23.761211,138.235294,263.752676,15.994118,8.315434,34.823529,20.414053,0.941176,1.893350,0.235294,0.545507,1.058824,2.600240,0.000000,0.000000
16,michael-pittman,23,9.777778,19.100772,14.333333,28.001984,120.222222,234.957101,12.561111,4.255864,26.111111,14.352270,0.666667,1.414214,0.555556,1.212079,4.888889,12.105503,0.000000,0.000000
17,dj-moore-wr,24,10.333333,20.108042,18.111111,35.194521,128.555556,250.983006,12.394444,4.139843,25.500000,15.107945,0.444444,1.012270,0.888889,1.822358,5.333333,11.647603,0.000000,0.000000
18,ceedee-lamb,22,9.294118,17.562543,14.117647,26.694089,129.647059,245.554580,14.194118,5.195526,28.705882,12.294258,0.705882,1.485804,1.058824,2.071390,8.941176,18.894352,0.000000,0.000000
19,brandin-cooks,27,10.588235,19.979574,15.764706,29.752962,122.000000,231.230468,11.488235,4.592178,26.705882,13.880857,0.705882,1.445671,0.235294,0.545507,2.470588,6.030488,0.000000,0.000000

In [11]:
results2021 = run_knn(dists2021)

c:\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [12]:
results2021[results2021["class"] == 3]

                 name class
38       cole-beasley     3
50       robert-woods     3
51      jarvis-landry     3
59    braxton-berrios     3
63    jamison-crowder     3
65      rondale-moore     3
66     nick-westbrook     3
70     rashod-bateman     3
73        zach-pascal     3
75        josh-palmer     3
77  olamide-zaccheaus     3
78     kenny-golladay     3
79      trequan-smith     3
81     allen-robinson     3
82     deandre-carter     3
84        jerry-jeudy     3
86       nico-collins     3
87   laquon-treadwell     3
88     kadarius-toney     3
89     jauan-jennings     3
90      josh-reynolds     3
92     adam-humphries     3
94       jalen-reagor     3
95   sterling-shepard     3
96     devin-duvernay     3
97        jamal-agnew     3

In [13]:
results2021[results2021["class"] == 2]

           name class
2  deebo-samuel     2

In [14]:
results2021[results2021["class"] == 1]

                name class
0        cooper-kupp     1
1      davante-adams     1
3   justin-jefferson     1
4       jamarr-chase     1
5        tyreek-hill     1
6       stefon-diggs     1
7    diontae-johnson     1
8         mike-evans     1
9     hunter-renfrow     1
10      keenan-allen     1
11  mike-williams-wr     1
12     jaylen-waddle     1
13        dk-metcalf     1
14      chris-godwin     1
15     tyler-lockett     1
16   michael-pittman     1
17       dj-moore-wr     1
18       ceedee-lamb     1
19     brandin-cooks     1
20    amonra-stbrown     1
21    marquise-brown     1
22    darnell-mooney     1
23       tee-higgins     1
24    terry-mclaurin     1
25    christian-kirk     1
26      amari-cooper     1
27      adam-thielen     1
28     jakobi-meyers     1
29     devonta-smith     1
31          aj-brown     1
33      marvin-jones     1
37      russell-gage     1
58     antonio-brown     1

In [15]:
results2021[results2021["class"] == 0]

                       name class
30               tyler-boyd     0
32          kendrick-bourne     0
34            brandon-aiyuk     0
35            van-jefferson     0
36           chase-claypool     0
39                kj-osborn     0
40                 aj-green     0
41              tim-patrick     0
42         marquez-callaway     0
43         courtland-sutton     0
44           cedrick-wilson     0
45          deandre-hopkins     0
46             allen-lazard     0
47           mecole-hardman     0
48           robby-anderson     0
49             elijah-moore     0
52            kalif-raymond     0
53         emmanuel-sanders     0
54            odell-beckham     0
55         laviska-shenault     0
56            byron-pringle     0
57            gabriel-davis     0
60             quez-watkins     0
61             deonte-harty     0
62    donovan-peoples-jones     0
64            bryan-edwards     0
67                zay-jones     0
68              corey-davis     0
69           devante-parker     0
71           nelson-agholor     0
72             jalen-guyton     0
74             randall-cobb     0
76           michael-gallup     0
80  marquez-valdesscantling     0
83            freddie-swain     0
85              henry-ruggs     0
91              julio-jones     0
93              keelan-cole     0
98           desean-jackson     0
99                ty-hilton     0

2020 Data

In [16]:
df2020 = extract_players("2020", "wr", "PPR")

In [17]:
names2020 = list(df2020["Name"].head(100))
dists2020 = make_dists(names2020, "2020")
dists2020.head(20)

davante-adams
tyreek-hill
stefon-diggs
deandre-hopkins
calvin-ridley
justin-jefferson
dk-metcalf
tyler-lockett
allen-robinson
adam-thielen
mike-evans
aj-brown
robert-woods
keenan-allen
amari-cooper
juju-smith-schuster
brandin-cooks
marvin-jones
robby-anderson
terry-mclaurin
diontae-johnson
ceedee-lamb
chase-claypool
curtis-samuel
dj-moore
cooper-kupp
cole-beasley
tee-higgins
tyler-boyd
corey-davis
chris-godwin
will-fuller
jarvis-landry
nelson-agholor
brandon-aiyuk
marquise-brown
russell-gage
michael-gallup
jamison-crowder
devante-parker
emmanuel-sanders
ty-hilton
sterling-shepard
tim-patrick
jerry-jeudy
laviska-shenault
keelan-cole
mike-williams
dj-chark
darnell-mooney
christian-kirk
julio-jones
jakobi-meyers
darius-slayton
marquez-valdesscantling
gabriel-davis
zach-pascal
greg-ward
hunter-renfrow
kendrick-bourne
mecole-hardman
josh-reynolds
rashard-higgins
david-moore
antonio-brown
travis-fulgham
damiere-byrd
aj-green
anthony-miller
demarcus-robinson
danny-amendola
trequan-smith
scott-miller
larry-fitzgerald
randall-cobb
isaiah-mckenzie
james-washington
breshad-perriman
michael-pittman
allen-lazard
braxton-berrios
chris-conley
jalen-guyton
john-brown
willie-snead
kj-hamler
sammy-watkins
jakeem-grant
jalen-reagor
keke-coutee
odell-beckham
golden-tate
cam-sims
henry-ruggs
michael-thomas
deebo-samuel
tyron-johnson
preston-williams
nkeal-harry
miles-boykin

,name,age,avg_rec,var_rec,avg_tgt,var_tgt,avg_yds,var_yds,avg_ypr,var_ypr,avg_lg,var_lg,avg_TD,var_TD,avg_rush,var_rush,avg_ryds,var_ryds,avg_rTD,var_rTD
0,davante-adams,27,15.333333,26.784739,19.866667,34.669615,183.200000,322.094437,11.593333,3.264448,30.866667,15.722030,2.400000,4.270831,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,tyreek-hill,26,10.875000,19.852188,16.875000,30.750762,159.500000,293.082753,15.325000,6.308080,33.875000,19.541222,1.875000,3.479853,1.625000,3.059310,15.375000,29.891209,0.250000,0.559017
2,stefon-diggs,26,14.941176,28.078609,19.529412,36.705694,180.588235,340.435544,12.100000,3.672153,29.529412,15.499972,0.941176,1.924168,0.117647,0.322190,0.117647,0.322190,0.000000,0.000000
3,deandre-hopkins,28,13.529412,25.525345,18.823529,35.410592,165.529412,313.497184,13.188235,7.303495,30.647059,15.962976,0.705882,1.404393,0.117647,0.322190,0.117647,0.322190,0.000000,0.000000
4,calvin-ridley,25,11.250000,20.467963,17.875000,32.418889,171.750000,313.183552,14.656250,6.098357,31.250000,17.130018,1.125000,2.146946,0.625000,1.218349,0.125000,3.533324,0.000000,0.000000
5,justin-jefferson,21,10.352941,19.565700,14.705882,27.778038,164.705882,312.291298,15.958824,5.944455,33.764706,18.151420,0.823529,1.688553,0.117647,0.322190,0.235294,0.644379,0.000000,0.000000
6,dk-metcalf,22,9.764706,18.485382,15.176471,28.590898,153.294118,290.641636,15.935294,5.917068,33.882353,16.552527,1.176471,2.306903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,tyler-lockett,27,11.764706,22.312037,15.529412,29.396113,124.000000,235.879082,10.864706,2.965278,24.588235,11.956090,1.176471,2.431056,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,allen-robinson,26,12.000000,22.624817,17.764706,33.463816,147.058824,276.919285,12.958824,3.454078,27.529412,7.554645,0.705882,1.445671,0.117647,0.322190,-0.117647,0.322190,0.000000,0.000000
9,adam-thielen,29,9.250000,16.891196,13.500000,24.568781,115.625000,211.644417,12.468750,3.629862,25.062500,13.315727,1.750000,3.250000,0.375000,0.780625,1.875000,4.013649,0.000000,0.000000
10,mike-evans,26,8.235294,15.614960,12.823529,24.220155,118.352941,226.330300,13.123529,5.318174,24.941176,14.391462,1.529412,2.952918,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,aj-brown,23,9.333333,16.328571,14.133333,24.603161,143.333333,252.169432,15.786667,6.284040,34.066667,22.353126,1.466667,2.604270,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,robert-woods,28,10.588235,19.994290,15.176471,28.576492,110.117647,208.765808,10.247059,3.581836,24.705882,13.838415,0.705882,1.404393,2.823529,5.404087,18.235294,36.181779,0.235294,0.545507
13,keenan-allen,28,13.333333,23.502246,19.600000,34.342976,132.266667,233.024596,10.746667,2.858173,20.200000,5.635601,1.066667,1.913693,0.133333,0.339935,-0.133333,0.339935,0.000000,0.000000
14,amari-cooper,26,10.823529,20.480221,15.294118,28.872467,131.058824,248.355881,12.117647,5.769110,29.705882,20.207060,0.588235,1.191086,0.705882,1.445671,1.647059,4.801240,0.000000,0.000000
15,juju-smith-schuster,23,11.411765,21.494346,15.058824,28.384898,97.764706,185.235472,8.235294,3.173593,19.941176,7.794950,1.058824,2.071390,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,brandin-cooks,26,10.125000,18.489440,14.875000,27.057520,143.750000,263.862772,13.606250,6.823074,28.625000,17.043602,0.750000,1.479020,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,marvin-jones,30,8.941176,16.934026,13.529412,25.569094,115.058824,219.984617,12.064706,4.399056,22.117647,10.943074,1.058824,2.099596,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,robby-anderson,27,11.176471,21.055208,16.000000,30.101788,128.941176,243.565783,11.970588,4.801932,30.882353,18.320295,0.352941,0.762440,0.470588,1.035695,1.764706,4.544284,0.000000,0.000000
19,terry-mclaurin,24,10.875000,19.767002,16.750000,30.357248,139.750000,254.696511,12.712500,3.795865,31.312500,17.842081,0.500000,1.000000,0.250000,0.559017,3.750000,9.397473,0.000000,0.000000

In [18]:
results2020 = run_knn(dists2020)

c:\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [19]:
results2020[results2020["class"] == 3]

                name class
1        tyreek-hill     3
12      robert-woods     3
21       ceedee-lamb     3
22    chase-claypool     3
23     curtis-samuel     3
34     brandon-aiyuk     3
42  sterling-shepard     3
45  laviska-shenault     3
90     odell-beckham     3

In [20]:
results2020[results2020["class"] == 2]

                 name class
32      jarvis-landry     2
36       russell-gage     2
37     michael-gallup     2
39     devante-parker     2
40   emmanuel-sanders     2
41          ty-hilton     2
43        tim-patrick     2
46        keelan-cole     2
47   mike-williams-wr     2
49     darnell-mooney     2
52      jakobi-meyers     2
53     darius-slayton     2
56        zach-pascal     2
57          greg-ward     2
58     hunter-renfrow     2
59    kendrick-bourne     2
61      josh-reynolds     2
62    rashard-higgins     2
64      antonio-brown     2
65     travis-fulgham     2
66       damiere-byrd     2
67           aj-green     2
68     anthony-miller     2
69  demarcus-robinson     2
70     danny-amendola     2
71      trequan-smith     2
73   larry-fitzgerald     2
74       randall-cobb     2
75    isaiah-mckenzie     2
76   james-washington     2
78    michael-pittman     2
80    braxton-berrios     2
81       chris-conley     2
83         john-brown     2
84       willie-snead     2
86      sammy-watkins     2
87       jakeem-grant     2
89        keke-coutee     2
91        golden-tate     2
94  michael-thomas-wr     2
95       deebo-samuel     2
98        nkeal-harry     2

In [25]:
results2020[results2020["class"] == 0]

                       name class
28               tyler-boyd     0
33           nelson-agholor     0
44              jerry-jeudy     0
50           christian-kirk     0
54  marquez-valdesscantling     0
55            gabriel-davis     0
60           mecole-hardman     0
63              david-moore     0
72             scott-miller     0
77         breshad-perriman     0
79             allen-lazard     0
82             jalen-guyton     0
85                kj-hamler     0
88             jalen-reagor     0
92                 cam-sims     0
93              henry-ruggs     0
96            tyron-johnson     0
97         preston-williams     0
99             miles-boykin     0

In [22]:
results2020[results2020["class"] == 0]

                       name class
28               tyler-boyd     0
33           nelson-agholor     0
44              jerry-jeudy     0
50           christian-kirk     0
54  marquez-valdesscantling     0
55            gabriel-davis     0
60           mecole-hardman     0
63              david-moore     0
72             scott-miller     0
77         breshad-perriman     0
79             allen-lazard     0
82             jalen-guyton     0
85                kj-hamler     0
88             jalen-reagor     0
92                 cam-sims     0
93              henry-ruggs     0
96            tyron-johnson     0
97         preston-williams     0
99             miles-boykin     0